<div class="table-responsive">
    <table class="table align-middle table-striped mt-4">
        <thead class="table-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo de identificación</th>
                <th scope="col">Cedula/nit</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for(contractor of contractors(); track contractor.id_contratista) {
            <tr>
                <td data-label="Nombre" class="fw-bold text-dark">
                    {{contractor.nombre}}
                </td>
                <td data-label="Tipo ID">
                    @if( contractor.tipoIdentificacion.tipo_identificacion === 'Cédula de ciudadanía') {
                        <span class="badge border border-primary text-primary">{{ contractor.tipoIdentificacion.tipo_identificacion }}</span>
                    } @else if( contractor.tipoIdentificacion.tipo_identificacion ==='NIT') {
                        <span class="badge border border-success text-success">{{ contractor.tipoIdentificacion.tipo_identificacion }}</span>
                    }
                </td>
                <td data-label="Cedula/NIT" class="d-md-table-cell">
                    {{contractor.cedula_nit ? contractor.cedula_nit : '-' }}
                </td>
                <td data-label="Teléfono" class="d-md-table-cell">
                    {{ contractor.telefono ? contractor.telefono : '-' }}
                </td>
                <td data-label="Correo" class="d-md-table-cell text-break">
                    {{ contractor.email ? contractor.email : '-' }}
                </td>
                <td data-label="Acciones">
                    <a [routerLink]="['/admin/contratistas', contractor.id_contratista]"
                        class="btn btn-outline-primary btn-sm d-inline-flex align-items-center gap-1 w-100-sm justify-content-center">
                        <i class="bi bi-pencil-square"></i>
                        <span>Editar</span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>