<div class="table-responsive">
    <table class="table align-middle table-striped mt-4">
        <!-- head -->
        <thead class="table-light">
            <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Tipo de identificacion</th>
                <th scope="col">Cedula/nit</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            @for(contractor of contractors();track contractor.id_contratista) {
            <tr>
                <td>
                    {{contractor.nombre}}


                </td>
                <td>

                    @if( contractor.tipoIdentificacion.tipo_identificacion === 'Cédula de ciudadanía') {
                    <span class="badge border border-primary text-primary">{{
                        contractor.tipoIdentificacion.tipo_identificacion }}</span>

                    }@else if( contractor.tipoIdentificacion.tipo_identificacion ==='NIT') {
                    <span class="badge border border-success text-success">{{
                        contractor.tipoIdentificacion.tipo_identificacion }}</span>
                    }
                </td>
                <td>
                    {{contractor.cedula_nit? contractor.cedula_nit : '-' }}
                </td>
                <td>
                    {{ contractor.telefono? contractor.telefono : '-' }}
                </td>
                <td>
                    {{ contractor.email? contractor.email : '-' }}

                </td>
                <td>
                    <a [routerLink]="['/admin/contratistas', contractor.id_contratista]"
                        class="btn btn-outline-primary btn-sm d-inline-flex align-items-center gap-1">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                    </a>
                </td>
            </tr>

            }
        </tbody>

    </table>
</div>