/* Ajustes visuales */
.toolbar {
    padding: 0.5rem 0;
}

.per-page-select {
    height: 2.5rem;
    min-width: 8rem;
    margin-bottom: 0;
    /* evita desalineación vertical */
}

.new-btn {
    height: 2.5rem;
    white-space: nowrap;
    margin-bottom: 0;
}

app-pagination {
    margin-bottom: 0;
}

/* Responsive solo para móviles */
@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem !important;
    }

    .form-select {
        font-size: 16px !important;
        /* evita zoom automático en iOS */
    }

    .toolbar {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;
    }

    .toolbar>div,
    .toolbar>button {
        width: 100%;
        justify-content: center;
    }
}

organizations-search {
    display: block;
    width: 100%;
    margin-top: 1rem;
}



@media (min-width: 768px) {
    .ajuste-superior-md {
        margin-top: -2rem !important;
    }
}

.filter-select {
  min-width: 200px; /* ajusta el ancho */
}

.filter-select ng-select {
  width: 100%;
}

.filter-select .ng-select-container {
  min-height: 32px !important; /* igual al select-sm */
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}


/* Ajuste para que el ng-select combine con el diseño de Bootstrap */
.custom-ng-select ::ng-deep .ng-select-container {
    border-radius: 0.375rem; /* Redondeado estándar de BS5 */
    min-height: 38px; /* Altura estándar de inputs */
    border-color: #dee2e6;
}

.custom-ng-select ::ng-deep .ng-placeholder {
    color: #6c757d;
    font-size: 0.875rem;
}

/* Evita que los filtros se peguen en móvil */
@media (max-width: 576px) {
    .btn-primary {
        margin-top: 10px;
    }
}