<h1 class="fs-2 fw-bold text-wrap">Listado de organizaciones</h1>

<h3 class="fs-6 text-muted">
  Total de organizaciones:
  <span class="text-primary fw-bold">
    {{ organizationsResource.value()?.count ?? 0 }}
  </span>
</h3>

@if (organizationsResource.error()) {
  <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2"></i>
    <div>Error al cargar organizaciones</div>
  </div>
} @else {
  <div class="row mt-4 mb-3">
    <div class="col-12">
      <div class="toolbar d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center gap-3">
          <app-pagination
            [pages]="organizationsResource.value()?.pages ?? 0"
            [currentPage]="paginationService.currentPage()">
          </app-pagination>
          <select
            #selectPerPage
            (change)="organizationsPerPage.set(+selectPerPage.value)"
            class="form-select form-select-sm per-page-select   " style="margin-top: -.8rem ;">
            <option value="10">10 por página</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <organizations-search (search)="onSearch($event)"></organizations-search>
  </div>

  <div class="table-responsive shadow-sm rounded border">
    <organizations-table
      [organizations]="filteredOrganizations()">
    </organizations-table>
  </div>
}